<html>
	<head> 
		<title> VGA </title>
		<link rel='stylesheet' type='text/css' href='css/main.css'>
		 <!-- Compiled and minified CSS -->
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

		  <!-- Compiled and minified JavaScript -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
          
	</head>


	<body>

		 <table>
        <thead>
          <tr>
              <th data-field="id">Freelancer</th>
              <th data-field="name">Company</th>
              <th data-field="price">Start</th>
              <th data-field="price">End</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>PicknPay</td>
            <td>11 October 2015</td>
            <td>11 November 2018 </td>
            <td class='btn'> Delete </td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

