<html>
	<head> 
		<title> VGA </title>
		
		 <!-- Compiled and minified CSS -->
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
		  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		  <!-- Compiled and minified JavaScript -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
		  <link rel='stylesheet' type='text/css' href='main.css'>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

          <script type="text/javascript">

          	$(document).ready(function(){
			    $('.collapsible').collapsible({
			      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
			    });
			  });
			       
          </script>
	</head>

	<body>
		
	<div class='header'>
		<img src='vgp-logo.png'>
	</div>
	<div class="container">

	  	<div class="row search ">
		   	<span class='searchIcon btn pink lighten-3 col s1'><i class="material-icons prefix">search</i></span>&nbsp
		    <input id="searchbox" type="text" class="grey lighten-2 col s7">&nbsp		    
		    <span class='addNew btn orange darken-3 col s2 center'> add new </span>
	    </div>